<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/output.css' />
  </head>
  <body class="min-h-screen flex flex-col">

    <header class="bg-blue-600 text-white p-4">
      <div class="container mx-auto flex flex-wrap items-center">

        <a href="/">
        <h1 class="text-xl font-bold">Moja express aplikacija</h1>
        </a>
        <div class="flex-1 text-right min-w-52 text-sm">
          {{#unless userEmail}}
          <a class="py-1 px-2 bg-white text-blue-600 rounded hover:bg-slate-200" href="/users/signin">Prijava</a>
          <a class="py-1 px-2 bg-white text-blue-600 rounded hover:bg-slate-200" href="/users/signup">Registracija</a>
          {{/unless}}
          {{#if userEmail}}
          <a class="py-1 px-2 bg-white text-blue-600 rounded hover:bg-slate-200" href="/users/signout">Odjava</a>
          {{/if}}
        </div>
      </div>
    </header>
    
    <main class="flex-grow bg-gray-100 p-6">
      <div class="container mx-auto">
        {{{body}}}
      </div>
    </main>

    <footer class="bg-gray-800 text-white p-4">
      <div class="container mx-auto text-center">
        <p>&copy; 2025 Veki T&P. Sva prava podržana.</p>
      </div>
    </footer>
  </body>
</html>
