<div class="text-2xl mb-4 font-semibold">Registracija korisnika</div>
<form method="post" action="/users/signup" class="grid grid-cols-1 max-w-md gap-2">

<label for="name">Ime</label>
<input type="text" name="name" minlength="3" maxlength="100" />
<br />
<label for="email">E-mail</label>
<input type="email" name="email" maxlength="100" required="" />
<br />
<label for="password">Zaporka</label>
<input type="password" name="password" minlength="6" required="" />
<br />
<label for="passwordConfirmation">Potvrda zaporke</label>
<input type="password" name="passwordConfirmation" minlength="6" required="" />
<br />
<input type="submit" value="Potvrdi" 
    class="w-full p-2 bg-blue-600 text-white hover:bg-blue-800 rounded cursor-pointer"/>
<input type="reset" value="Poništi" 
class="w-full p-2 bg-slate-500 text-white hover:bg-slate-800 rounded cursor-pointer"/>
</form>

{{#if error_validation}}
<p>Dogodila se greška u provjeri podataka!</p>
{{/if}}

{{#if error_database}}
<p>Dogodila se greška prilikom spremanja u bazu podataka!</p>
{{/if}}

{{#if success}}
<p>Korisnik je uspješno registriran!</p>
{{/if}}